<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<rewrite>
		<rules>
                <remove name="Plesk. HotLink Protection for site #7" />
		      <rule name="HTTPS Rule behind AWS Elastic Load Balancer Rule" enabled="false" stopProcessing="true">
         <match url="^(.*)$" ignoreCase="false" />
         <conditions>
            <add input="{HTTP_X_FORWARDED_PROTO}" pattern="^http$" ignoreCase="false" />
         </conditions>
         <action type="Redirect" url="https://{SERVER_NAME}{URL}" redirectType="Found" />
      </rule>
                <rule name="Plesk. HotLink Protection for site #7" enabled="true" stopProcessing="true">
                    <match url=".*\.(bmp|dib|rle|emf|wmf|gif|jpg|jpeg|jpe|jif|jfif|pcx|png|tga|tiff|tif)(.*)?$" />
                    <conditions>
                        <add input="{HTTP_REFERER}" matchType="Pattern" pattern="^https?://(m.)?hentailxx\.com/.*$" ignoreCase="true" negate="true" />
                        <add input="{HTTP_REFERER}" matchType="Pattern" pattern="^https?://www\.hentailxx\.com/.*$" ignoreCase="true" negate="true" />
                        <add input="{HTTP_REFERER}" matchType="Pattern" pattern="^https?://64\.202\.188\.161/.*$" ignoreCase="true" negate="true" />
                    </conditions>
                    <serverVariables />
                    <action type="CustomResponse" statusCode="403" />
                </rule>
	  </rules>
		</rewrite>
    </system.webServer>
</configuration>
